.footer{
    
    width: 100%;
    height: 372px;
    &__input{
        width: 100%;
        
    }
    &__list{
        
        @include isFlex($justify: space-between, $wrap:no-wrap,$align:center);
        
    }
    &__logo{
        padding: 0;
        margin: 0;
    }

    &__item{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        &_text{
            line-height: 24px;
            
        }
        &_information{
            width: 100%;
            padding-top: 100px;
            
        @include isFlex($justify: space-between, $wrap:no-wrap,$align:baseline);  
        }   
        &_header{
            font-family: 'Times New Roman', Times, serif;
            font-size: 12px;
            color: #1F2041;
            text-transform: uppercase;
            font-weight: bold;
            
        }
        
        &_logo{
            width: 100%;
            height: 132px;
            max-width: 260px;
            padding-top: 40px;
            margin-right: 35px;
        }
       
        
    }
    .information{
        &__list{
            
            &_sub{
                width: 260px;
            }
        }
        &__link{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.5);
            
        }
        &__item{
            padding-top: 20px;
            :hover{
                color:rgba(31, 32, 65, 0.75);
            }
        }
    }
    &-under__container{
        height: 70px;
        @include isFlex($justify: space-between, $wrap:no-wrap,$align:center); 
        box-shadow: 0px 0px 1px 1px rgba(31, 32, 65, 0.1);
    }
    &-under{
        @include isFlex($justify: space-between, $wrap:no-wrap,$align:center); 
        &__text{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.75);
        }
        &__soccial-list{
            width: 112px;
            @include isFlex($justify: space-between, $wrap:no-wrap,$align:center);
            
        }
        &__item{
            &:hover{
                opacity: 0.5;
            }
        }
    }

}
