.menu{
    height:70px;
    @include isFlex($justify: space-between, $wrap:no-wrap,$align:center);
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    &__list {
        width:100%;
        @include isFlex($justify: flex-end, $wrap:no-wrap);
        &_right,
        &_left,
        &_mid {
            width: 100%;
        }
        &_left{
            max-width: 106px;
        }
        &_mid{
            max-width: 691px;
        }
        &_right{
            max-width: 323px;
        }
        
        
    }
    &__link{
        color: $dark50;
        &_expand{
            margin: 0;
            padding-left: 5px;
            
            
        }
        }
    &__item{
        margin-left: 20px;
        font-size: 14px;
        font-family: $montserrat;
        transition: 0.2s;
        &_mid{
        :hover{
            color:rgba(31, 32, 65, 0.75);
        }
        }
    }
    
    &__btn{ 
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;      
        text-transform: uppercase;
        &_in{
            color: #BC9CFF;
            border: 2px solid;
            border-radius: 22px;
            padding:10px 10px;
           
        }
        &_reg{
        color: white;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        padding:10px 10px;
   
        }
        &:hover{
            opacity: 0.5;
        }
    }
}

