
.selection{
    position: absolute;
    top:140px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 374px;
    max-width: 380px;
    &__container{
        
        margin:30px;
        margin-top: 40px;
        width: 100%;
        height: 304px;
        max-width: 320px;
        @include isFlex($justify: space-between,$align:center,$direction:column);
    
    }
    &__title{
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;

    }
    &__datelist{
        @include isFlex($justify: space-between,$direction:row,$wrap:nowrap);
    }
    label{
        color:black;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        
        
    }
    &__item input{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        width: 150px;
        height: 44px;
        background:no-repeat url(/assets/images/icon/expand_more.svg);
        background-position: bottom 50% right 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        padding-left:10px;
        margin-bottom: 0px;
        &:focus{
            background: none;
        }
        

    }
    &__link{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        font-family: Quicksand;
        font-weight: bold;
        font-size: 12px;
        color: #FFFFFF;
        width: 320px;
        height: 44px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 15px;
        &:hover{
            opacity: 0.5;
        }

    }
    .dropdown{
        margin-top: -20px;
        &__header{
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
        }
        &__toggle{
            
            width: 320px;
            height: 44px;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            padding-right: 260px;
            padding-left: 10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-transform: uppercase;
            background:no-repeat url(/assets/images/icon/expand_more.svg);
            background-position: bottom 50% right 10px;
        }
        &__menu{
            border: 1px solid rgba(31, 32, 65, 0.5);
            box-sizing: border-box;
            border-radius: 2px;
        }
        &__input{
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            width: 320px;
            height: 44px;
            display: none;


        }
    }
         
        
    }

    


