
.selection{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 374px;
    max-width: 380px;
    &__container{
        margin:30px;
        margin-top: 40px;
        width: 100%;
        height: 304px;
        max-width: 320px;
        @include isFlex($justify: space-between,$align:center,$direction:column);
    
    }
    &__title{
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;

    }
    &__datelist{
        @include isFlex($justify: space-between,$direction:row,$wrap:nowrap);
    }

}
