extends ./templates/_template.pug

block title
  title My Page - Home

block basicSeo
  meta(name='description' content='Home Page')
  meta(name='keywords', content='main page, home page')
  meta(name='author' content='ilya')

block links
  link(href='')

block content

  //- Desktop page
  section.page 
    include ./components/header.pug

    include ./components/main

    include ./components/footer