header.header
    .container
        .menu
          ul.menu__list.menu__list_left
            li.menu__item.menu__item_left
                a.menu__link.menu__link_logo(href="") 
                  img(src="../assets/images/icon/Logo.svg", alt="").header__logo
                          
          ul.menu__list.menu__list_mid
            li.menu__item.menu__item_mid
                a.menu__link(href="") О нас
            li.menu__item.menu__item_mid
                a.menu__link(href="") Услуги
                  img(src="../assets/images/icon/expand_more.svg", alt="").menu__link_expand         
            li.menu__item.menu__item_mid
                a.menu__link(href="") Вакансии
            li.menu__item.menu__item_mid
                a.menu__link(href="") Новости
            li.menu__item.menu__item_mid
                a.menu__link(href="") Соглашения
                  img(src="../assets/images/icon/expand_more.svg", alt="").menu__link_expand
          ul.menu__list.menu__list_right
            li.menu__item.menu__btn
                a.menu__link.menu__btn_in(href="") Войти
            li.menu__item.menu__btn
                a.menu__link.menu__btn_reg(href="") Зарегистрироваться          
            