section.selection
  .selection__container
    h1.selection__title Найдём номера под ваши пожелания
    ul.selection__datelist
        li.selection__item
            label(for="selection__date_in") ПРИБЫТИЕ
            input(type="date" id="selection__date_in" name="date_in")
        li.selection__item
            label(for="selection__date_out") ВЫЕЗД
            input(type="date" id="selection__date_out" name="date_out")
    .guests
     .guests__container
            .guests__header ГОСТИ
            ul.selection__guests
                li.guests__item
                    .guests__item-container.guests__item_default Сколько гостей
                     img(src="../assets/images/icon/expand_more.svg", alt="").guests__link_expand 
                li.guests__item.guests__item_hidden
                   .guests__item-container Взрослые
                li.guests__item.guests__item_hidden
                   .guests__item-container Дети 
                li.guests__item.guests__item_hidden
                   .guests__item-container Младенцы 
    .selection__button
        a.selection__link(href="") ПОДОБРАТЬ НОМЕР 