section.selection
  .selection__container
    h1.selection__title Найдём номера под ваши пожелания
    ul.selection__datelist
        li.selection__item
            label(for="selection__date_in") ПРИБЫТИЕ
            input(type="date" id="selection__date_in" name="date_in")
        li.selection__item
            label(for="selection__date_out") ВЫЕЗД
            input(type="date" id="selection__date_out" name="date_out")
    .selection__dropdown
    .dropdown
        p.dropdown__header ГОСТИ
        button.dropdown__toggle(type="button" data-toggle="dropdown") Гости
        ul.dropdown__menu
            li.dropdown__input
                label
                    input(type='checkbox')
                |  Взрослые
            li.dropdown__input
                label
                    input(type='checkbox')
                |  Дети 
    .selection__button
     a.selection__link(href="") ПОДОБРАТЬ НОМЕР 